@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Poppins-Regular.ttf') format('tff'),
       
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app{
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
}